
.hero-container {
  background: url("/public/images/img-home.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.hero-container > h1 {
  color: #fff;
  font-size: 6rem;
  margin-top: 15rem;
  margin-bottom: 1rem;
}
.hero-container > p {
  color: #fff;
  font-size: 4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.hero-btns {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 4rem;
  }
  .hero-container > p {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 3rem;
  }
  .hero-container > p {
    font-size: 2rem;
  }
}
